<%namespace name='static' file='static_content.html'/>
<%!
from pytz import timezone
from dateutil.parser import parse
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
pk_tz = timezone('Asia/Karachi')
test_datetime = configuration_helpers.get_value('ONLINE_TEST_DATE', '2025-01-01')
test_course_link = configuration_helpers.get_value('TEST_COURSE_LINK', '#')
parsed_test_datetime = parse(test_datetime)
local_test_datetime = pk_tz.localize(parsed_test_datetime)

js_test_datetime = local_test_datetime.strftime('%Y/%m/%d %H:%M:%S')
%>
<%


%>
<%block name="header_extras">
<link rel="stylesheet" href="${static.url('css/jquery.countdown.css')}">
</%block>
<script type="text/template" id="main-example-template">
<%text>
  <div class="time <%= label %>">
    <span class="count curr top"><%= curr %></span>
    <span class="count next top"><%= next %></span>
    <span class="count next bottom"><%= next %></span>
    <span class="count curr bottom"><%= curr %></span>
    <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
  </div>
</%text>
</script>
<%block name="js_extra">
  <script src="${static.url('js/jquery.countdown.min.js')}"></script>


<script type="text/javascript">
  $(window).on('load', function() {
    var labels = ['days', 'hours', 'minutes', 'seconds'],
      testDate = "${js_test_datetime}",
      template = _.template($('#main-example-template').html()),
      currDate = '00:00:00:00:00',
      nextDate = '00:00:00:00:00',
      parser = /([0-9]{2})/gi,
      testLink = '${test_course_link}',
      $example = $('#main-example');
    // Parse countdown string to an object
    function strfobj(str) {
      var parsed = str.match(parser),
        obj = {};
      labels.forEach(function(label, i) {
        obj[label] = parsed[i]
      });
      return obj;
    }
    // Return the time components that diffs
    function diff(obj1, obj2) {
      var diff = [];
      labels.forEach(function(key) {
        if (obj1[key] !== obj2[key]) {
          diff.push(key);
        }
      });
      return diff;
    }
    // Build the layout
    var initData = strfobj(currDate);
    labels.forEach(function(label, i) {
      $example.append(template({
        curr: initData[label],
        next: initData[label],
        label: label
      }));
    });
    // Starts the countdown
    $example.countdown(testDate, function(event) {
      var newDate = event.strftime('%D:%H:%M:%S'),
        data;
      if ( event.type === 'finish.countdown' ) {
        location.href = testLink;
      }
      if (newDate !== nextDate) {
        currDate = nextDate;
        nextDate = newDate;
        // Setup the data
        data = {
          'curr': strfobj(currDate),
          'next': strfobj(nextDate)
        };
        // Apply the new values to each node that changed
        diff(data.curr, data.next).forEach(function(label) {
          var selector = '.%s'.replace(/%s/, label),
              $node = $example.find(selector);
          // Update the node
          $node.removeClass('flip');
          $node.find('.curr').text(data.curr[label]);
          $node.find('.next').text(data.next[label]);
          // Wait for a repaint to then flip
          _.delay(function($node) {
            $node.addClass('flip');
          }, 50, $node);
        });
      }
    });
  });
</script>
</%block>

<div class="main-example">
  <h2>Test begins in:</h2>
  <div class="countdown-container" id="main-example"></div>
</div>