<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%inherit file="../main.html"/>
<%namespace file='../main.html' import="login_query"/>
<%namespace name='static' file='../static_content.html'/>

<%block name="body">

    <div id="root" class="container contact-block">
        <h1>${_("Contact {platform_name} Team").format(platform_name=platform_name)} </h1>

                    <p style="line-height: 2em">
                        ${Text(_("In case of any queries, please feel free to email us at {link_start}freshgradhiring@arbisoft.com{link_end} or contact us:{span_start} {strong_start}Abdullah Faseh:{strong_end}{span_start}Cell: 0323-4919715{span_end}{span_end} {span_start}{strong_start}Sabeen Nasar:{strong_end}{span_start}Cell: 0342-9738872{span_end}{span_end}")).format(
                            strong_start=HTML('<strong>'),
                            strong_end=HTML('</strong>'),
                            span_start=HTML('<span>'),
                            span_end=HTML('</span>'),
                            link_start=HTML('<a href="mailto:freshgradhiring@arbisoft.com">'),
                            link_end=HTML('</a>'),
                        )}
                    </p>

    </div>

</%block>
