<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%inherit file="../main.html"/>
<%namespace file='../main.html' import="login_query"/>
<%namespace name='static' file='../static_content.html'/>

<%block name="body">

    <div id="root" class="container">
        <h1>${_("Contact {platform_name} Team").format(platform_name=platform_name)} </h1>

                    <p style="line-height: 2em">
                        ${Text(_("In case of any queries, please feel free to contact us at {strong_start}0323-4919715 - 0342-9738872{strong_end} or email us at {link_start}abdullah@arbisoft.com{link_end} - {link_start}sabeen.nasar@arbisoft.com{link_end}")).format(
                            strong_start=HTML('<strong>'),
                            strong_end=HTML('</strong>'),
                            link_start=HTML('<a href="mailto:abdullah@arbisoft.com,sabeen.nasar@arbisoft.com">'),
                            link_end=HTML('</a>'),
                        )}
                    </p>

    </div>

</%block>
