@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$white: #ffffff;
$body-background-color: $white;
$x-dark: #34383a;
$light: #edf7f2;
$x-light: #e4e4e4;
$dark: #6b6969;
$brand-blue: #5d98d0;
$course-section-background-color: #f7f7f7;
$brand-color: $brand-blue;
$primary-color: #52b041;
$light-primary-color: #79c03f;
$btn-color: #009145;
$base: #9b9b9b;
$success-base: #25b85a;
$error-base: #b20610;
$brand-font: 'Open Sans', sans-serif;
$action-primary-fg: $brand-color;
$action-primary-bg: lighten($brand-color, 10%);
$action-primary-shadow: $brand-color !default;
$link-color: $brand-color !default;

$black: #000;
$sky: #eaf5fc;

/*============= Break Points ========*/
$SM: 640px;
$S: 768px;
$M: 1024px;
$L: 1240px;
$EXL: 1365px;

